plots/csv_data/*
plots/csv/*
plots/csv_data_raijin/*
plots/plots/*
plots/plots_raijin/*
plots/*.pdf
plots/*.png
plots/*.csv
plots/*.out
cable
__pycache__/*
logs/*
namelists/*
outputs/*
restart_files/*
doc/plots/*
doc/scripts/__pycache__/*
doc/*.nc
doc/*.o
doc/*.pdf
doc/*.png
doc/*.jpg
doc/csv/*
doc/scripts/csv/*
doc/scripts/*nc
doc/scripts/*o
doc/scripts/*pdf
doc/scripts/*png
doc/scripts/*jpg
doc/scripts/*.out
doc/scripts/*.aux
doc/scripts/*.csv
doc/scripts/*log
met/*
new_sumbal
*.o
*.nc
*.pdf
*.png
*.jpg
